@import "../../../scss/mixins.scss";

.placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  .svg {
    svg {
      width: 20px;
      height: auto;
      fill: var(--gray-color);
    }
  }
  @include input;
}

.options_list_container {
  position: relative;
}

.options_list {
  visibility: hidden;
  position: absolute;
  margin-top: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--gray-color);
  padding: 8px;
  width: 100%;
  background-color: var(--gray-3-color);
}

.select.open {
  .options_list {
    visibility: visible;
  }

  .placeholder {
    box-shadow: var(--box-shadow-1);
  }
}
.option {
  position: relative;
  text-align: start;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;

  & + .option {
    margin-top: 10px;
  }
  &:hover {
    background-color: var(--gray-2-color);
  }
}
