.search_input {
  width: 100%;
  margin-bottom: 10px;
}

.bottom_fields {
  display: flex;
  gap: 40px;
}

.field {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  gap: 20px;
  .select {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .bottom_fields {
    flex-wrap: wrap;
    gap: 10px;
  }
}
