.header {
  height: 400px;
  background: url(../../assets/images/header.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.body {
  padding: 20px;
  width: min-content;
  border-radius: 3px;
  background-color: rgba($color: #fff, $alpha: 0.8);
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
